/* footer */
footer {
    max-height: 500px;
    padding-left: 5vw;
    padding-right: 5vw;
    color: white;
    background-color: var(--primary-color);
}

footer a {
    display: inline-block;
    margin: 10px 0px;
    font-size: 15px;
    color: white;
}

footer .row:first-child {
    padding-top: 20px;
}

footer .row:last-child {
    margin-bottom: 0;
}

footer .row:last-child a {
    color: #ffb3af;
}

footer img {
    width: 200px;
}

footer .fab {
    padding: 10px 10px 10px 0px;
    font-size: 30px;
}

footer hr {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    border-color: #ffffff66;
}