/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #f6412f;
    --heading-color: #a41515;
    --font-color: #652500;
    --heading-font: 'Francois One', sans-serif;
    --heading-font-2: 'serif';
    --primary-font: 'Lato', sans-serif;
}

html, body {
    height: 100%;
}

.section-header {
    margin-bottom: 50px;
    text-shadow: 1px 1px #fffaf4;
    color: var(--heading-color);
    font-family: var(--heading-font-2);
}