/* MODAL */

#recipe-instructions {
    white-space: pre-line;
}

#ingredient-name {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: var(--heading-font-2);
}

/* Modal Card */

.modal.bottom-sheet {
    max-height: 60%;
}

#ingredient-content h4, #done-content h4 {
    font-family: var(--heading-font);
}

#next-btn, #done-btn {
    letter-spacing: 1px;
    font-family: var(--primary-font);
    background-color: var(--primary-color);
}

.modal-card {
    min-height: 550px;
}

.modal-card .card-content {
    min-height: 154px;
}

.checked {
    border: 3px solid lightgreen;
}

/* Modal Substitute Item Search Bar */
.input-field {
    margin: 0;
}

#substitute-search {
    margin: 0px 30px;
}

#substitute-search input {
    margin: 0;
    width: calc(100% - 30px);
    height: unset;
    padding-left: 30px;
}

#substitute-search i {
    line-height: unset;
}

#substitute-search .label-icon {
    left: 0;
}