<!-- MODAL HTML -->

<!-- Modal Structure -->
<div id="ingredient-modal" class="modal bottom-sheet">

    <!-- Ingredients Modal -->
    <div class="modal-content" id="ingredient-content" *ngIf="currentIndex < ingredients.length-1 else finalize">
        <h4>Pick Your Choice of Ingredient
            <!-- Next Button -->
            <a class="waves-effect waves-light btn right" id="next-btn" (click)="nextBtn()">Next</a>
            <!-- Search Bar for substitute ingredients -->
            <form class="right" id="substitute-search" style="display:inline-block; width:25%">
                <div class="input-field">
                    <input id="substitute-input" type="search" placeholder="Enter substitute item" autocomplete="off"
                        required>
                    <label class="label-icon" for="substitute-input"><i class="material-icons">search</i></label>
                </div>
            </form>
        </h4>
        <h5 class="center-align" id="ingredient-name" *ngIf="currentIngredient.results">
            {{ingredients[currentIndex].ing}}</h5>

        <!-- Modal Cards -->
        <div class="row" id="ingredient-card">
            <!-- Ingredient Cards for Modal added to page here -->
            <ng-container *ngIf="currentIngredient.results && currentIngredient.results.length > 0 else noResults">
                <div class="col s6 m3 l2" *ngFor="let ing of currentIngredient.results;">
                    <div class="card modal-card" [class.checked]="checkboxDisplay(ing.slug)=='check_box'">
                        <a href="https://www.wholefoodsmarket.com/product/{{ing.slug}}" target="_blank"
                            style="display:block; color:black">
                            <div class="card-image">
                                <img src="{{ing.imageThumbnail}}">
                            </div>
                            <div class="card-content">
                                <p class="brand"><b>{{ing.brand}}</b></p>
                                <p class="name">{{ing.name}}</p>
                                <p>${{ing.regularPrice}}</p>
                            </div>
                        </a>
                        <div class="card-action center-align">
                            <i class="material-icons checkbox-outline" (click)="selectIngredient(ing)">{{checkboxDisplay(ing.slug)}}</i>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-template #noResults>
                <div class="center-align">
                    <p><b>Sorry this ingredient is not available or sold out</b></p>
                    <p><i>Please use the substitute search bar to find an alternative item</i></p>
                </div>
            </ng-template>

        </div>
    </div>
</div>

<ng-template #finalize>
    <!-- Finalize Modal -->
    <div class="modal-content" id="done-content">
        <h4>Finalize your items <a class="waves-effect waves-light btn modal-close right" id="done-btn">Done</a></h4>
        <p><i>Click done to add final items to cart.</i></p>

        <!-- Chosen Ingredients Cards -->
        <div class="row" id="chosen-ingredients"></div>
    </div>
</ng-template>