<div class="col s12 m4 l2-5">
    <div class="card">
        <a>
            <div class="card-image">
                <img src="{{recipeData.meals[0].strMealThumb}}">
                <a class="btn-floating halfway-fab waves-effect waves-light red">
                    <i class="far fa-heart"></i>
                </a>
            </div>
            <div class="card-content">
                <span class="card-title">{{recipeData.meals[0].strMeal}}</span>
                <p>{{recipeData.meals[0].strCategory}}</p>
            </div>
        </a>
    </div>
</div>