<!-- recipe results -->
<div id="recipe-top" class="row">
    <div class="col s12 l6 center-align">
        <div class="center">
            <h1 id="recipe-name">{{recipeData.strMeal}}</h1>
            <h4 id="recipe-category">{{recipeData.strCategory}}</h4>
        </div>
    </div>
    <div class="col s12 l6" style="padding:0; height: 100%;">
        <img id="recipe-img" src="{{recipeData.strMealThumb}}" width="100%">
    </div>
</div>

<div class="row">
    <div class="col l12 center-align">
        <p id="recipe-tags">{{recipeData.strTags ? "Tags: " + recipeData.strTags : '"recipe made with love"'}}</p>
    </div>
</div>

<div id="recipe-info" class="container">
    <div class="row">
        <div class="col s12 m6">
            <h3>Ingredients</h3>
            <hr>
            <!--ingredients list-->
            <ul id="ingredient-list"></ul>
            <!--add to cart btn-->
            <a class="waves-effect waves-light btn modal-trigger" id="modal-btn" href="#ingredient-modal">Add to
                Cart</a>
        </div>
    </div>

    <div class="row">
        <!--recipe instructions-->
        <div class="col s12 m6">
            <div>
                <h3>Instructions</h3>
                <hr>
                <p id="recipe-instructions" innerHTML="{{recipeInstructions(recipeData.strInstructions)}}"></p>
            </div>
        </div>
    </div>


    <div class="row" *ngIf="recipeData.strYoutube">
        <div class="col s12 m12 center-align">
            <!-- Youtube Tutorial -->
            <iframe id="tutorial" width="840" height="473" [src]="youtubeURL(recipeData.strYoutube)" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen style="max-width:100%"></iframe>
        </div>
    </div>
</div>

<!-- email input -->
<div id="email-signup" class="row">
    <div class="col s12 m12 center-align">
        <hr>
        <h3>Get fail-proof recipes, delivered daily.</h3>
        <p>Email</p>
        <input type="email">
        <a class="waves-effect waves-light btn">GO</a>
        <hr>
    </div>
</div>

<!-- recommended recipes -->
<div id="recommended-section" class="center-align">
    <h1>Recommended Recipes</h1>
    <div id="popular-recipes" class="row">
        <app-recipe-card 
        *ngFor="let recipe of recipes; index as i;"
        [recipeData]="recipe"
        [hiddenCards]="true">
    </app-recipe-card>
    </div>
</div>



<!-- MODAL HTML -->

<!-- Modal Structure -->
<div id="ingredient-modal" class="modal bottom-sheet">

    <!-- Ingredients Modal -->
    <div class="modal-content" id="ingredient-content">
        <h4>Pick Your Choice of Ingredient
            <!-- Next Button -->
            <a class="waves-effect waves-light btn right" id="next-btn">Next</a>
            <!-- Search Bar for substitute ingredients -->
            <form class="right" id="substitute-search" style="display:inline-block; width:25%">
                <div class="input-field">
                    <input id="substitute-input" type="search" placeholder="Enter substitute item" autocomplete="off"
                        required>
                    <label class="label-icon" for="substitute-input"><i class="material-icons">search</i></label>
                </div>
            </form>
        </h4>
        <h5 class="center-align" id="ingredient-name">Ingredient Name</h5>

        <!-- Modal Cards -->
        <div class="row" id="ingredient-card"></div>
    </div>

    <!-- Finalize Modal -->
    <div class="modal-content" id="done-content">
        <h4>Finalize your items <a class="waves-effect waves-light btn modal-close right" id="done-btn">Done</a>
        </h4>
        <p><i>Click done to add final items to cart.</i></p>

        <!-- Chosen Ingredients Cards -->
        <div class="row" id="chosen-ingredients"></div>
    </div>
</div>