<!-- homepage search section -->
<div id="search-section">
    <img class="home-banner" id="banner-left"
        src="https://www.ubereats.com/_static/c17637631f7b1bb7a2ea07e4520e3242.svg" />
    <img class="home-banner" id="banner-right"
        src="https://www.ubereats.com/_static/7e44f0f05ccfa9c00e1fbd413c1bf8c9.svg" />
    <div class="row">
        <div class="col s12 center-align">
            <h1>Hungry? You're in the right place</h1>
        </div>
    </div>
    <!-- search input -->
    <div class="row">
        <div class="col s3"></div>
        <div class="col s6">
            <div id="home-search">
                <form id="search-form">
                    <div class="input-field">
                        <input id="search-input" type="search" autocomplete="off" required>
                        <label class="label-icon" for="search">
                            <i class="search-btn material-icons" id="search-btn">search</i>
                        </label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </div>
        <div class="col s3"></div>
    </div>
    <div class="row">
        <div class="col s12 center-align">
            <!-- Modal Trigger -->
            <a id="advanced-search" class="modal-trigger" href="#modal1">ADVANCED SEARCH <i class="fas fa-chevron-right"></i></a>
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h5>Advanced Search</h5>
                    <h1>Coming Soon</h1>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
                  </div>
            </div>
        </div>
    </div>
</div>

<!-- popular recipes -->
<div id="popular-section" class="center-align">
    <h1 class="section-header">Popular Recipes</h1>
    <div id="popular-recipes" class="row">
        <app-recipe-card 
            *ngFor="let recipe of recipes; index as i;"
            [recipeData]="recipe">
        </app-recipe-card>
    </div>
</div>

<!-- subscription -->
<div class="subscription center-align">
    <div class="row">
        <div class="col s12">
            <p><b>DON'T MISS OUT</b></p>
            <h3 class="serif">Gear Reviews, Taste Tests, <br> And The Best Deals Online</h3>
            <h6 class="serif">Straight to your inbox.</h6>
        </div>
    </div>
    <div id="input-row" class="row">
        <div class="input-field col s12">
            <input type="text" class="validate" placeholder="EMAIL ADDRESS">
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a id="newsletter-btn" class="waves-effect waves-light btn">GET THE NEWSLETTER</a>
        </div>
    </div>
    <div id="privacy-terms" class="row">
        <div class="col s12">
            <p>Will be used in accordance with our <a>User Agreement</a> and <a>Privacy Policy & Cookie Statement</a></p>
        </div>
    </div>
</div>